D:\my files\develop\sberbank_registries\reesters_python_17_3\complate_reesters\
D:\my files\develop\sberbank_registries\reesters_python_17_3\complate_zip\
D:\my files\develop\sberbank_registries\reesters_python_17_3\download_zip\
D:\my files\develop\sberbank_registries\reesters_python_17_3\example\
D:\my files\develop\sberbank_registries\reesters_python_17_3\reesters\
D:\my files\develop\sberbank_registries\reesters_python_17_3\result_registries\
D:\my files\develop\sberbank_registries\reesters_python_17_3\for_igonore\